/* tags */

body{
    padding-top: 56px;
}

section{
    padding-top: 49px;
    padding-bottom: 15px;
    min-height: 100vh;
}

footer{
	bottom: 0;
	Width: 100%;
	height: 65px;
	background-color:#333;
	color:#fff;
	

/*classes*/

.linhaCompra{
    padding: 10px;
    text-align: center;
    background-color: #2e64fe;
}

.camposCompra{
    height: 54px;
}

.botaoComprLegenda{
    float: left;
    text-align: left;
    margin-left: 10px;
}

#popup{
	background:#000000;
	height:100%;
	width: 100%;
	position:fixed;
	top: 0;
	left: 0;
	display: none;
	}
	#center{
	border: 10px solid #121212;
	margin: 6% auto;
	width: 750px;
	}
	#close{
	float: right;
	position: absolute;
	top: 12%;
	}​